<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>

	<div id="target"></div>


    <script type="text/javascript" src="src/Template.js"></script>
    <script type="text/javascript">
		window.onload = function(){

			var text = document.getElementById("template").innerHTML;
			var items = [
				{ text: 'text1' ,status:'done' },
				{ text: 'text2' ,status:'pending' },
				{ text: 'text3' ,status:'pending' },
				{ text: 'text4' ,status:'processing' }
			];
			var compiled = Template.compile(text);

			console.log(Template.render(compiled, items));

			var html = document.getElementById("html").innerHTML;
			var data = {
				"html": "<p href='http://baidu.com' target='_blank'>百度</p>"
			};
			var compileHTML = Template.compile(html);
			document.querySelector("#target").innerHTML = Template.render(compileHTML, data);
		};
    
    </script>

	<script id="template" type="javascript/template">
		<ul>
			<% for(var i in obj){ %>
				<li class="<%= obj[i].status %>"><%= obj[i].text %></li>
			<% } %>
		</ul>
	</script>

	<script id="html" type="javascript/template">
		<$ html $>
	</script>

	<script id="html2" type="javascript/template">
		<%= html %>
	</script>

</body>

</html>
